[2017-01-11 11:35] alphatroya opened #8 "Ability to auto disable plugin if .swiftlint.yml is not present"
I think it may be a useful feature for quick side projects which not use swiftlint.

[2017-01-19 14:24] TatyanaShabaeva opened #9 "Unfriendly error message when SwiftLint path is misconfigured"
When path to SwiftLint in AppCode preferences is incorrect, every attempt to modify Swift code produces the following error message: "Error: IOException: Cannot run program "/someInvalidPath": error=2, No such file or directory". There is no indication that error is related to SwiftLint plugin.

<img width="1229" alt="invalid_path" src="https://cloud.githubusercontent.com/assets/6057640/22110239/0

[2017-01-19 14:47] TatyanaShabaeva opened #10 "SwiftLint path in Preferences is always prepopulated which can lead to confusion"
Similar to https://github.com/bealex/SwiftLintAppCode/issues/11

Repro:
* install _swiftlint_ (e.g. via _brew_)
* install SwiftLint plugin for AppCode
* open AppCode Preferences | SwiftLint configuration -> SwiftLint path is prepopulated with the installation directory
* clear SwiftLint path
* hit "OK" or "Apply", close Preferences
* modify Swift code, verify that SwiftLint inspections do not work

[2017-01-19 15:01] TatyanaShabaeva opened #11 "Disabled "Autocorrect" option gets enabled each time Preferences are opened"
Similar to https://github.com/bealex/SwiftLintAppCode/issues/10

Repro:
* open AppCode Preferences | SwiftLint configuration
* disable "Autocorrect quick-fix"
* hit "OK" or "Apply", close Preferences
* modify Swift code, verify that quick-fixes are disabled
* open Preferences -> "Autocorrect quick-fix" option is enabled again

[2017-01-31 20:15] bealex commented on #9
Thanks! Should be fixed in 1.6

[2017-01-31 20:15] #9 closed

[2017-01-31 20:15] bealex commented on #11
Thanks! Should be fixed in 1.6

[2017-01-31 20:15] #11 closed

[2017-01-31 20:15] bealex commented on #10
Thanks! Should be fixed in 1.6

[2017-01-31 20:15] #10 closed

[2017-02-03 13:17] TatyanaShabaeva commented on #11
Thanks. Checked with v1.6, works.

[2017-02-03 13:17] TatyanaShabaeva commented on #9
Thanks. Checked with v1.6, works.

[2017-02-03 13:19] TatyanaShabaeva commented on #10
Thanks. Checked with v1.6, works.

[2017-02-03 13:34] TatyanaShabaeva opened #12 "'Enable "Autocorrect" quick-fix' option controls not only quick-fix but the inspection itself"
Repro:

* open AppCode Preferences | SwiftLint configuration
* disable "Autocorrect quick-fix", hit "OK", close Preferences
* open Swift file with some badly styled code
* run Swiftlint inspection against the file

Actual: "No suspicious code found". Looks like 'Enable "Autocorrect" quick-fix' option is responsible for enabling/disabling Swiftlint inspection.

Expected: I'd expect to have Swiftlin

[2017-02-03 13:41] TatyanaShabaeva opened #13 "Changes made with "Autocorrect" quick-fix cannot be undone"
Repro:

* open AppCode Preferences | SwiftLint configuration
* enable "Autocorrect quick-fix", hit "OK", close Preferences
* open Swift file with some badly styled code
* invoke Alt+Enter -> "Autocorrect"
* hit Cmd+Z

Actual: "Cannot Undo: following files have changed that cannot be undone" dialog.

Expected: changes made with "autocorrect" should be undone.

[2017-02-04 17:40] bealex commented on #13
Thanks for the report. But it may be impossible to do that, because quick-fix is being done with terminal command and can be applied only to the whole file at once.

I'll check what can be done though.

[2017-02-07 15:59] bealex commented on #13
Will be partially fixed in 1.7. I believe the nature of quick-fix does not allow to fix it completely.

[2017-02-07 15:59] #13 closed

[2017-02-07 16:00] bealex commented on #12
Fixed in 1.7

[2017-02-07 16:00] #12 closed

[2017-02-07 16:00] bealex commented on #8
Should be fixed in 1.7

[2017-02-07 16:00] #8 closed

[2017-02-14 10:10] reitzig opened #16 "When does the plugin re-process the config file?"
It is not clear to me when the plugin processes changes to `.swiftlint.yml`.

I just added

[code]

but not even an IDE restart makes the warning go away. Changes to the file should take effect immediately!

(I *think* that activating SwiftLint in the first place took an update of the plugin to take effect, so maybe then?)

[2017-02-14 10:14] reitzig opened #17 "Create one config entry per inspection"
Currently, AppCode's inspection configuration has only one entry for SwiftLint that covers all the inspections. I would like to have some of its warning be weak, others normal warnings.

Please create one entry per provided inspection.

(This could also make parts of the YML config obsolete, as turning inspections on and off would be configured in the settings then.)

[2017-02-14 10:31] bealex commented on #16
Plugin does not use `.swiftlint.yml` at all. It looks for its presence, nothing more.

SwiftLint itself rereads configuration every time it is run. So, basically, it should take effect after next inspection cycle (usually after changing a char in the file)

[2017-02-14 10:46] reitzig commented on #16
I see. Maybe I didn't actually change any files before. I *would* expect changed settings to trigger a re-run, though.

[2017-02-14 10:50] reitzig opened #20 "Provide interface to config file from AppCode preferences"
Manually creating and maintaining `.swiftlint.yml` is not nice, in particular because the documentation of that tool is ... suboptimal.

The plugin could alleviate this by providing GUI for at least the most relevant settings and generating the config file (and triggering reruns, cf. #16). Advanced users could still work on the file directly.

[2017-02-14 10:57] bealex commented on #17
I like it and will think about it. But.

You should be able to configure SwiftLint once and use it in Xcode, with CI, with AppCode. This is a big deal, and I can not get rid of `.swiftlint.yml` because of that.

So plugin should be able to parse config file and update checkboxes accordingly (and vice versa). That is not something I want to do right now.

[2017-02-14 10:59] bealex commented on #16
AppCode triggers inspections when it thinks that it is a good time to do. Plugin does not decide it. Generally it works OK.

[2017-02-14 11:16] reitzig commented on #17
I realize that this might be a lot of work. While some parts (e.g. the `localInspection` tags in the Manifest) could be generated by scripts from `swiftline rules`, there does not seem an easy way to lint single rules, and the output of SwiftLint is not very nice.

FWIW: realm/SwiftLint/issues/1305

(I wonder if Tailor and/or Taylor are better suited for interfacing with IDEs?)

One could argue th

[2017-02-14 11:20] reitzig commented on #16
Huh, I see. Can we tell AppCode to watch `.swiftlint.yml` for changes (as it does source and other config files)?

Maybe: https://www.jetbrains.com/help/idea/2016.3/using-file-watchers.html

[2017-02-14 11:45] bealex commented on #16
I will look into it.

[2017-02-14 11:48] bealex commented on #17
I will look into it. Not right now, but I will.

[2017-02-21 18:45] adamjmurray opened #21 ".swiftlint.yml ignored when running "Inspect Code" in AppCode"
I'm using the SwiftLint AppCode plugin and it mostly works as expected. When I build in AppCode, it shows me the same warnings I get when I run swiftlint on the command line.

AppCode has a feature where you can "Inspect Code" separately from the build process (for example: right click a folder in the project pane and select "Inspect Code..." from the context menu). This is IMO a nicer workflow to

[2017-02-21 18:55] bealex commented on #21
Thanks for the kind words!

That is very odd behaviour. I've used "Run Inspection by Name" from the menu and it worked as intended.

But I'll check this.

[2017-03-15 16:28] reitzig commented on #21
I thought [the plugin ignored the config file](https://github.com/bealex/SwiftLintAppCode/issues/16#issuecomment-279669758), anyway?

[2017-03-15 16:31] bealex commented on #21
Plugin should use the config file if it is placed in the project folder, but it will not automatically rerun after config file is being changed (that is a known thing).

[2017-04-14 14:48] TatyanaShabaeva opened #23 "SwiftLint inspections do not work unless a change to plugin settings is made"
Plugin version 1.7.

Repro:
* install plugin
* open Swift file -> no SwiftLint inspections
* go to Preferences | SwiftLint Configuration, disable "Enable 'Autocorrect' quick-fix", then enable it back, hit Apply, close Preferences
* open Swift file -> SwiftLint inspections are in place

[2017-04-20 10:34] gmosx commented on #23
Ah, fantastic, thanks for the tip!
It was driving me crazy that the plugin didn't work with AppCode!

[2017-04-25 13:21] yeswolf commented on #20
I'd -1 this one, cause a) less wizards, more value b) wizards are hard to mantain + require immediate attention when something significantly changes c) YML could be edited in AppCode with highlighting and so on.

[2017-05-23 20:02] bealex commented on #17
That appears as too much effort for a small benefit. Configuration file is much more powerful. Closing for now, maybe will implement in some distant future.

[2017-05-23 20:02] #17 closed

[2017-05-23 20:07] bealex commented on #23
Should be fixed in 1.8. :)

[2017-05-23 20:30] #23 closed

[2017-05-23 20:32] bealex commented on #20
Will close this one for now. I tried to implement something like that, but it will require lots and lots of work and support (SwiftLint is being developed and updated pretty fast) and I do not think I can update plugin as fast.

And I agree with @yeswolf.

[2017-05-23 20:32] #20 closed

[2017-07-27 12:23] mekarthedev commented on #21
In my case (plugin v1.8) when I use "Run Inspection by Name" it actually takes my .swiftlint.yml settings into account except for `included` / `excluded` settings. It suggests me to chose the file scope to run on, but I can't see a way to tell it to run using my `.swiftlint.yml`'s `included` / `excluded` paths.

Maybe I'm missing something?

[2017-07-27 13:02] bealex commented on #21
I'm sorry but there are no plans to do this. Inspection is working on all project files and should not use this specific setting for exclude/include files. Please use AppCode scope feature for this.

[2017-07-27 13:02] #21 closed

[2017-07-27 13:09] mekarthedev commented on #21
I'm actually using Custom Scope as an alternative. It's just a little inconvinient having to duplicate `excluded` paths set in two places.

Anyway, thanks for great plugin.

[2017-07-27 15:34] mekarthedev opened #25 "Enabled Inspection makes typing significantly laggy"
Automatic Inspection allows getting lint feedback as you type. But when SwiftLint's inspection is enabled typing becomes annoyingly laggy.

See attached [screen recording](https://github.com/bealex/SwiftLintAppCode/files/1180444/swiftlint-laggy-720p.mov.zip).

SwiftLint plugin v1.8, AppCode 2017.2 (172.3317.89), MacBook Pro 2015, macOS 10.12.5, Xcode 8.2.1, 30/12 kloc of mixed Swift/ObjC code + Co

[2017-07-27 15:37] bealex commented on #25
Will look into it. Was it the same with previous versions of AppCode?

[2017-07-27 15:41] mekarthedev commented on #25
Can't say that. I've tried the plugin the first time just after upgrading to 2017.2.

[2017-07-27 17:07] bealex commented on #25
Got it! Thanks for the report.

[2017-07-27 17:50] mekarthedev opened #26 ""Run Inspection by Name" takes much more time to run than command line"
When running `time swiftlint lint --no-cache` in command line, it takes 6 seconds on my project. When running with `Run Inspection by Name...`, it takes about 4 minutes. The custom files scope is set to be the same as in `.swiftlint.yml`. Watching at linting progress, can't see any unexpected files to be linted.

SwiftLint plugin v1.8, AppCode 2017.2 (172.3317.89), MacBook Pro 2015, macOS 10.12.5,

[2017-07-27 18:08] bealex commented on #26
Thanks for the issue!

I'm investigating the same thing right now. Should be better in the next version.

[2017-09-01 08:57] Sebkasanzew opened #27 ".swiftlint.yml is ignored with SwiftLint v0.22.0"
After updating to SwiftLint v0.22.0 the plugin uses the default swiftlint settings for checking the code and ignores the .swiftlint.yml file. Switching back to SwiftLint v0.21.0 solves the issue.

I'm using AppCode 2017.2

[2017-09-19 17:10] sebkasanzew commented on #27
After further investigation this is caused by these changes: [realm/SwiftLint#1748](https://github.com/realm/SwiftLint/pull/1748)

I guess this plugin needs to add support for the new `--config-defaults` and `--config-overrides` options, because the old `--config` is obsolete and seems to work in a different way now.

[2017-09-19 17:32] bealex commented on #27
Thanks! Right now I'm testing new version of the plugin myself, it should be ready in several days.

[2017-10-04 12:25] sebkasanzew commented on #27
Any update on this?

[2017-10-05 11:38] bealex commented on #27
I've uploaded the update. Please check it (it should go live in a day or two). If something will still be missing, file the bugs.

[2017-10-05 11:39] #27 closed

[2017-10-20 07:57] kaizimmer opened #28 "Feature Request"
Hi Alex,

first of all I'd like to thank you for this plugin.
It would be nice if it would be possible to configure the path to the .swiftlint.yml (just like one can do with the swiftlint binary path)

Kind regards

[2017-10-20 08:20] bealex commented on #28
Hi,

Thanks :)

I try to find config file to use in the project. It should be there because I want same behavior for command line swiftlint and the plugin.

Can you describe the case of having another config file?

[2017-10-21 18:17] gwsounddsg opened #29 "Error: IOException: Stream closed"
AppCode version: 2017.2.4
Xcode version: 8.3.3
Swiftlint version: 0.23.1
Swiftlint Pluging version: 1.9.1

Issue:
While using AppCode I keep getting errors in the event log reading: "Error: IOException: Stream closed". I haven't been able to identify exactly what I am doing to cause this error to pop up, but it happens multiple times while I'm writing code. In a ten minute span of typing I'll get

[2017-10-22 16:27] bealex commented on #29
Hi,

Can you please check that you are using the latest build of the plugin?

[2017-10-22 21:33] gwsounddsg commented on #29
Yes, as my issue states at the top what all my version numbers are. For this plugin I am running v1.9.1.

[2017-10-22 21:56] bealex commented on #29
Thanks!
Is path to swiftlint executable in AppCode settings correct?

I get this error myself, but it happens extremely rarely (once in couple of weeks or even less than that) when something exceptional is done with the swift file (like it disappears via git checkout).

I will try to reproduce this, but more information (exact code or action when this happens) will be very helpful.

[2017-10-23 19:31] gwsounddsg commented on #29
Currently the path is: `/usr/local/bin/swiftlint'.` Is this the correct place if I have a local yml file for the project?

[2017-10-24 08:20] bealex commented on #29
This is the correct path if you've installed SwiftLint via HomeBrew.

Thanks! Will try to reproduce.

[2017-10-28 02:00] gwsounddsg commented on #29
Update:

With the 2017.2.5 update I am no longer getting this error. Super odd.

[2017-10-28 18:43] gwsounddsg commented on #29
Woops, disregard my last comment. The update disabled showing the errors but they're still there.

[2017-11-02 08:18] svdo commented on #29
I have this problem too. I'm using latest AppCode EAP. In the end it even causes AppCode to break down, because it runs out of available file descriptors...

AppCode: 2017.3 EAP Build #OC-173.3415.31, built on October 26, 2017
Xcode: 9.0.1
SwiftLint: 0.21.0
SwiftLint plugin version: 1.9.1

[2017-11-02 08:22] svdo commented on #29
Just now I also got `Error: IOException: Bad file descriptor`.

[2017-11-02 08:23] svdo commented on #29
The problem seems to occur when I *save* the file.

[2017-11-02 08:26] bealex commented on #29
You mean "Cmd+S"? AFAIK, it does nothing in AppCode (and all IJ products). Anyway, your comment gave me an idea, thanks!

[2017-11-28 20:06] brennantaylor opened #30 "Error highlighting sometimes only underlines one character"
Here are some examples

![image](https://user-images.githubusercontent.com/2840772/33341524-14e12e44-d434-11e7-9bb6-dcb4c702128b.png)

![image](https://user-images.githubusercontent.com/2840772/33341552-261def3a-d434-11e7-9227-c3434919806f.png)

![image](https://user-images.githubusercontent.com/2840772/33341570-36e86804-d434-11e7-8262-ed858bbf12d6.png)

The line and column are reported correctly

[2017-11-28 20:08] bealex commented on #30
Hi, thanks for the examples.

Can you provide rules that are looking like that? The reason is simple, columns/rows that SwiftLint returns are for Xcode, and sometimes they change. I try to adjust them for AppCode on per-rule basis. So, these need to be readjusted.

[2017-11-28 22:59] brennantaylor commented on #30
Sure here is the sleep example. When I run `swiftlint` on the command line it reports the correct line+column.

[code]

[2017-11-29 00:26] brennantaylor opened #31 "Passing file over stdin breaks nested configs and include/exclude functionality"
In our `.swiftlint.yml` we have some include/exlcudes that also have directory names in them. When passing the file through stdin swiftlint doesn't know the path to it and some functionality doesn't work.

[2017-12-02 00:59] danl3v commented on #31
+1 to this

[2017-12-02 08:53] bealex commented on #31
This will be in the next update.

[2017-12-02 17:24] danl3v commented on #31
Great thanks! Really enjoying the plugin

[2017-12-02 17:39] bealex commented on #31
I've submitted the update to JB. Should be out in couple of days.

Please check if it works as you want it to and feel free to tell me if something is wrong.

[2017-12-02 17:39] #31 closed

[2017-12-05 04:44] gwsounddsg commented on #29
Just an update:

I was still getting this error when I was using Xcode 9. But with the release of AppCode 2017.3 it has stopped.

[2017-12-05 06:15] bealex commented on #29
Thanks for the update. Anyway, 1.10 is out with some major updates in plugin structure. Should work better now.

[2017-12-05 06:15] #29 closed

[2018-01-13 20:32] qRoC opened #32 "Load .swiftlint.yml from project directory"
Fixed work with .swiftlint.yml config.

[2018-01-14 11:27] #32 closed

[2018-01-14 11:27] bealex commented on #32
Thanks for the report! Fixed.

[2018-01-14 11:28] bealex commented on #30
Can you please recheck this with the last plugin version, it should be fixed.

[2018-01-14 11:28] #30 closed

[2018-01-14 11:29] bealex commented on #26
It is still slower, but should be OK now. Can you confirm?

[2018-01-14 11:29] #26 closed

[2018-01-14 11:29] bealex commented on #25
Should be fixed. Can you verify that? Thanks!

[2018-01-14 11:29] #25 closed

[2018-01-14 11:30] bealex commented on #16
Should be fixed in 1.10.3

[2018-01-14 11:30] #16 closed

[2018-01-15 12:54] mekarthedev commented on #25
Can't see any lagging now. Thanks for fixing!

[2018-01-15 13:00] mekarthedev commented on #26
Much faster now. 10 vs 30 seconds.

But now it seems to ignore my .swiftlint.yml settings. Is it related to #32? I'm on v1.10.2

[2018-01-15 13:35] bealex commented on #26
Yes, there is a bug in current version, sorry for that. Fix should be available in a day or so.

[2018-03-29 17:32] rudedogg opened #34 "Doesn't seem to be working"
Is this working with SwiftLint 0.25.0 and AppCode 2018.1?

I've followed all of the steps in the readme, and have a `.swiftlint.yml` file (with `reporter: "csv"`) at the same level as my `.xcodeproject` file, but I can't seem to get it to work. Running `swiftlint` manually works fine as well.

Thanks!

**Edit**: If there's a way to get debug output from the plugin let me know, I'm not very familia

[2018-03-30 09:55] bealex commented on #34
This inspection runs in background, basically it is run after all others (and after parsing/resolving etc.) So you can have to wait some time to get a highlighting.

I do get results with 0.25.0 version of swiftlint, so it should work.

Anyway, I'll check the plugin once more.

[2018-03-30 19:05] rudedogg commented on #34
Thanks @bealex. The previous `Note:`/`SwiftLint` output was from a Run Script phase I was using in Xcode for SwiftLint. I've removed that, since the plugin should run it, and now I don't see any SwiftLint output under messages.

I also moved my `.swiftlint.yml` file to `.swiftlint.yml.bak` to debug, but am still not getting any linter messages.

Here are my settings:
![screen shot 2018-03-30 at 12

[2018-04-01 08:53] bealex commented on #34
@rudedogg There should be no linting messages, only highlights. And no building is necessary, it is done "on the fly".

To test if the inspection works, you can introduce any of the simple error, for example, several empty lines between the methods and wait. If all the indexing and source parsing is finished, you'll see highlighting in several seconds.

[2018-04-12 09:06] mciuba commented on #34
The plugin used to work fine for me (in AppCode 2018.1) but stopped working since I've upgraded Xcode to 9.3.
I did the simple check as you suggested (added several empty lines), the indexing and source parsing is finished, I still don't see any highlighting.

[2018-04-12 09:55] bealex commented on #34
Hi, can you look into the log file? https://d.pr/i/aPlb9M Maybe there is something in it about swiftlint plugin?

Thanks!

[2018-04-13 14:18] rudedogg commented on #34
@bealex I ran `rg "SwiftLint"` on the logs directory but the only messages I found were:
`2018-04-10 13:36:35,054 [   3755]   INFO - llij.ide.plugins.PluginManager - Loaded custom plugins: CodeGlance (1.5.4), IdeaVim (0.49), Markdown support (181.2668), Material Theme UI (2.1.5.3), Org4Idea (0.3.1), SwiftLint (1.10.3)
`

Let me know if you want me to try another search strings or need any other in

[2018-04-16 07:47] bealex commented on #34
Hi, can't find out what is wrong. Can you try the plugin with a new project?

[2018-04-16 16:41] rudedogg commented on #34
@bealex When creating a new project in AppCode the plugin works! To test I also created a new iOS project in Xcode, opened it in AppCode and that works too.

So, it seems like there's something wrong with my existing projects that cause the plugin not to work. I'll dig around a little bit and see if I can find what's wrong.

[2018-04-16 17:20] rudedogg commented on #34
For some reason, in the problem project, I'll see a SwiftLint inspection highlight in the code, but then when I run the Code Inspection it says no results:

![screen shot 2018-04-16 at 11 08 52 am](https://user-images.githubusercontent.com/2127629/38824573-ee248ad0-4166-11e8-96aa-02fd665582fa.png)
![screen shot 2018-04-16 at 11 08 30 am](https://user-images.githubusercontent.com/2127629/38824588-f

[2018-04-16 17:51] bealex commented on #34
It says "1 files processed". Did you select correct scope while performing the inspection?

Inspection will be slower than in terminal (because it runs file-by-file, not all at once), but not a lot slower.

[2018-04-16 17:56] rudedogg commented on #34
@bealex Yeah all of my inspection settings look correct. I've even tried running "Inspection by Name" for SwiftLint:

![screen shot 2018-04-16 at 11 54 46 am](https://user-images.githubusercontent.com/2127629/38826487-2d12709e-416d-11e8-9a5d-287b0f301ac2.png)
![screen shot 2018-04-16 at 11 55 08 am](https://user-images.githubusercontent.com/2127629/38826493-2f5a5efc-416d-11e8-8371-344afafdad2f.png

[2018-04-16 18:03] bealex commented on #34
You are right, it really does not see errors. Thanks for the noticing, will dig into it.

[2018-04-16 20:41] rudedogg commented on #34
@bealex Awesome! Happy you're able to replicate it.

Let me know if you want me to test anything.

[2018-04-19 17:36] bealex commented on #34
@rudedogg Can you please check whether it works in new EAP? Works now for me. If it does, then it looks like an AppCode bug.

I tried your case on several projects, it works/does not work kind of unpredictably.

[2018-04-19 20:09] rudedogg commented on #34
@bealex No luck for me with:

[code]

I'm okay with just leaving this open, and seeing if others come forward with issues. Since it's working for you maybe it's something wrong with my setup/projects.

**Edit:** I was looking at the AppCode forums and issue tracker, and it looks like a lot of people have issues with the "Code Inspections". I'm guessing it's a bug on their end, I'll try new release

[2018-04-25 08:44] wsof401 opened #35 "Build failed"
This is my .swiftlint.yml declared

[code]

this is the error when I build in appCode
![image](https://user-images.githubusercontent.com/3211941/39235094-8f1bd2b2-48a7-11e8-854c-89586a7bc55f.png)

xcode version : 9.3
appCode version: 2018.1.1
plugin version :  1.10.3

[2018-04-25 10:11] bealex commented on #35
Please replace dashes "-" with underscores "_".

[2018-04-25 10:11] #35 closed

[2018-04-25 14:23] wsof401 commented on #35
the `private_action` is still error
![image](https://user-images.githubusercontent.com/3211941/39251987-395b8aea-48d7-11e8-8927-da3cc7c7427d.png)

[2018-04-25 16:07] bealex commented on #35
These are not SwiftLint plugin errors, they are errors of SwiftLint itself. Here is about this error, as far as I understand.

https://github.com/realm/SwiftLint/issues/1997

[2018-04-30 06:45] bealex commented on #34
This bug is kind of flaky for me. It shows in one case and does not show in another (even in the same project). Can't get what is triggering the case.

I'll close this issue for now. It anything else arises, please let me know, I'll try to reproduce it once more.

[2018-04-30 06:45] #34 closed

[2018-11-09 04:50] bimawa opened #36 "Autocorrect don't work."
Tried quick-fix:
1. <kbd>OPT+Enter</kbd>
2. <kbd>Enter</kbd>
3. Exception:

[code]

plugin version: 1.10.3
swiftLint: 0.27.0

[2018-11-09 09:21] bealex commented on #36
Can you please look into log files, there should be an exception itself. It will be very helpful. Thanks!

[2018-11-09 11:03] bimawa commented on #36
[idea.log](https://github.com/bealex/SwiftLintAppCode/files/2565579/idea.log)
Yes, here it is

[2018-11-27 18:23] jgarciatt opened #37 "Error: SwiftLint takes too long to process"
I'm using AppCode and the SwiftLint plugin, and since a couple of weeks ago I started to get **Error: SwiftLint takes too long to process** file every time I edit a file. I had to disable the plugin in order to be able to work, because it reached a point where the cursor was delayed to show the error in the event log. This happens with every class, no matter the size, even a file of 20 lines of co

[2019-02-06 18:02] bealex opened #38 "SwiftLint path should be configurable on a per-project basis"
What steps will reproduce the problem?

1. Set the SwiftLint path (Tools | SwiftLint Inspections) in a project.
2. Switch projects and change the SwiftLint path.
3. Switch back to the first project.
4. Observe that the SwiftLint path was also updated for this project.

What is the expected result?

If SwiftLint is installed into the project using a package manager such as CocoaPods, Carthage or sw

[2019-02-26 12:26] Obbut opened #39 "CLion support"
For SSS (Server Side Swift) development, it would be great to have CLion support in this plugin. CLion has support for Swift using the Swift plugin from Jetbrains, which is based on AppCode.

[2019-04-13 12:40] #36 closed

[2019-04-29 03:12] Antowkos commented on #37
@yeswolf, @bealex, hi guys! It seems like you've fixed this issue. Do you plan to release this version? Or maybe I can build it from master branch?

[2019-04-30 09:18] bealex commented on #39
Hi,
Can you please check the latest version? I tried to open CLion support, but have no easy way of testing it under linux. macOS looks OK

[2019-05-02 11:50] reitzig opened #41 "Warning levels do not honor setting"
Despite setting the SwiftLine inspection(s) to level weak warning, they show up as warnings and errors.

![Screenshot 2019-05-02 at 13 14 31](https://user-images.githubusercontent.com/4246780/57072735-ff1ad980-6cde-11e9-823a-24b904d1d1e6.png)
![Screenshot 2019-05-02 at 13 14 56](https://user-images.githubusercontent.com/4246780/57072736-ff1ad980-6cde-11e9-85b9-b3fd3f0ce477.png)
![Screenshot 2019-0

[2019-05-02 12:00] bealex commented on #41
That is correct. Highlighting uses SwiftLint settings (in .swiftlint.yml or global), not this line.

[2019-05-02 12:00] #41 closed

[2019-05-02 13:17] reitzig commented on #41
Then you might as well remove this entry, it's highly misleading.

Editing the YML from AppCode (disable or reconfigure rule) would be cool, but I guess that's a separate request.

[2019-05-02 14:23] bealex commented on #41
Correct. This is absolutely different story and I don't think it will ever be practical to do.

[2019-05-02 14:23] #39 closed

[2019-05-06 09:52] bealex commented on #39
@Obbut And can you please try once more?

[2019-06-03 06:11] vladimir-bebeshko commented on #28
The case is very simple: when we work not with a project, but with a workspace, we want the same set of rules to be applied to all the projects in the workspace. So, we have the .swiftlint.yml file not in the project root, but in the workspace root.

 The command-line swiftlint works well in this case, as it looks for the .swiftlint.yml at the parent directory when it doesn't find it in the curren

[2019-07-26 17:51] mgray88 opened #43 "Fatal IDE error"
Getting the following exception with the latest versions:
swiftlint 0.34.0
SwiftLintAppCode 1.10.5
AppCode 2019.2

[code]

[2019-07-28 08:35] bealex commented on #43
Hi, thanks for the report.

Is it possible to see the code that triggers that?

[2019-07-29 13:49] mgray88 commented on #43
Can't post exact code so I'm trying to create a test project that recreates it. It seems there are two issues I'm facing. Simply having a `.swiftlint.yml` file cause the plugin to fail to run period, even if it's empty.

This is the simplest code I was able to recreate the error with:

[code]

It's the `static func MenuItem()` function that causes the issue. Comment it out and the linter works fin

[2019-07-29 13:54] bealex commented on #43
Thanks a lot! Can you please tell the structure of the project? Maybe you have several `.swiftlint.yml` files there?

[2019-07-29 13:56] mgray88 commented on #43
AppCode -> New Project -> Single view iOS App

[2019-07-29 13:56] bealex commented on #43
Got it!

[2019-07-29 13:57] mgray88 commented on #43
[Test.zip](https://github.com/bealex/SwiftLintAppCode/files/3442610/Test.zip)

[2019-08-02 15:06] yeswolf opened #44 "Rename 'SwiftLint inspections' -> 'SwiftLint'"
"SwiftLint Inspections" in "Tools" section is confusing, especially taking into account that we have a general "Inspections" section with settings. One may think that all the inspection settings are here (and they are not)

[2019-08-04 10:02] bealex commented on #44
OK :)

[2019-08-04 10:02] #44 closed

[2019-08-04 11:10] bealex commented on #43
Got it! Should be fixed in next update (1.10.6). Please tell if something is still wrong.

[2019-08-04 11:10] #43 closed

[2019-08-04 11:24] mgray88 commented on #43
I'll check it in Monday. Thanks for your work!

[2019-08-04 11:26] bealex commented on #43
It'll be available when JB will review it. It can take a couple of days.

[2019-08-04 11:26] mgray88 commented on #43
Gotcha

[2019-10-03 08:44] martinmose commented on #38
I vote for this as well. I would have expected that you could specify a relative path for "SwiftLint path" in Tools -> SwiftLint like: "./Pods/SwiftLint/swiftlint" but it doesn't seems to work (or otherwise I can't figure out how).
See: https://www.jetbrains.com/help/objc/absolute-path-variables.html?showChildren

[2020-02-06 06:33] wrightak opened #45 "Cursor keeps snapping to the left"
With this plugin enabled, the cursor keeps snapping to the leftmost position on each line. Beginning a new line will put the cursor to the leftmost position instead of the current tab indentation. Pressing tab to go back to where the cursor should be will be followed by another snap back to the left if I don't start typing quickly enough.

[2020-02-09 20:19] bealex commented on #45
This sounds strange and possibly like a bug in AppCode itself. I have to investigate this further.

[2020-02-27 12:35] MontakOleg opened #46 "1.10.6 not compatible with AppCode 2020.1 EAP"
@bealex, hello!

Just curious why latest plugin version not compatible with latest AppCode.

<img width="946" alt="image" src="https://user-images.githubusercontent.com/1800899/75445357-5547c000-5976-11ea-97dc-354bb38b43e3.png">

<img width="1049" alt="image" src="https://user-images.githubusercontent.com/1800899/75445394-61338200-5976-11ea-94e3-0e427a3aab75.png">

[2020-02-27 12:45] bealex commented on #46
That looks like a bug there. It is supported everywhere, including current EAP.

I’ll check that with JB guys.

Thanks!

[2020-03-06 20:51] bealex commented on #46
Talked to JB about this problem. They have to deal with it.

[2020-03-06 20:51] #46 closed

[2020-04-22 15:48] AleMaMi opened #47 "Nested swiftlint configuration ignored by AppCode plugin"
[SwiftlintPluginExample.zip](https://github.com/bealex/SwiftLintAppCode/files/4517222/SwiftlintPluginExample.zip)

AppCode 2020.1 (Build OC-201.6668.159)
Swiftlint plugin 1.10.6
swiftlint 0.39.2

Turn on AppCode Swiftlint plugin inspections.

   The example shows situation there is nested `.swiftlint.yml` configuration in sub-folder to disable locally specific rule. Running build executes `swiftli

[2020-04-22 16:26] bealex commented on #47
Hi, thanks for the report. Plugin does not support nested configuration files. Guess this is the point of upgrading in the future.

[2020-04-28 20:19] fowlerwill commented on #47
Would love this since we've got a specific swiftlint.yml for our tests

[2020-05-10 16:07] bealex commented on #47
v 1.11.0 should have this ability

[2020-05-10 16:07] #47 closed

[2020-05-10 16:08] bealex commented on #28
v 1.11.0 can be better for this, can you please check it?

[2020-05-10 16:08] #28 closed

[2020-05-10 16:09] bealex commented on #45
Can't reproduce for now. Closing.

[2020-05-10 16:09] #45 closed

[2020-05-10 16:10] bealex commented on #37
Yes, this should be fixed (and I'm very fast with commenting) :-)

[2020-05-10 16:10] #37 closed

[2020-10-08 11:23] ben-xD opened #50 "SwiftLint not following .swiftlint.yml (XCode 12.0.1, macOS 11, AppCode 2020.2.3)"
AppCode + SwiftLint plugin (this repo) doesn't do anything, as no warnings are being shown in the IDE. The build process does still generate the warnings, as this is configured as a build phase through xcode.

I am running the latest AppCode
[code]

with the latest plugin:
1.11.0

and XCode Version 12.0.1 (12A7300)

I tried plugin configured to both
`/usr/local/Cellar/swiftlint/0.40.3/bin/swiftlin

[2020-10-08 12:40] uxduck commented on #50
I also have a question regarding `SwiftLintService/`. What is it for? It was not in the original (2nd commit in master)

[2020-10-08 15:44] bealex commented on #50
Hi, @ben-xD

Did you check that inspection is enabled? It is disabled by default.

Usually plugin launches external command line utility. `SwiftLintService` has code that tried to use SwiftLint as internal framework. That solution was much, much slower than current and I left it on the side.

[2020-10-08 17:33] uxduck commented on #50
Hi @bealex  :)

Yes, I did enable as shown in screenshot, but it warnings do not show in the editor. I am able to successfully run it when i click `Code > Inspect Code...`
![Screenshot 2020-10-08 at 18 31 47](https://user-images.githubusercontent.com/24711048/95493610-98e6bb80-0994-11eb-915e-fa38d279d16a.png)

[2020-10-08 17:38] bealex commented on #50
Is indexing finished? SwiftLint is low priority task and it is run after all other inspections.

[2020-10-08 17:42] uxduck commented on #50
Oh, I was only testing one specific linter rule (opt in, `unowned_variable_capture`), and it still doesn't seem to work. However, a swiftlint rule i disabled (`line_length`), is showing up in editor. So it seems like Swiftlint is active, but not following the project root `.swiftlint.yml` file.

Previously, I was not sure how to check for indexing 😃 on AppCode, but I believe it is just should be i

[2020-10-08 20:12] bealex commented on #50
Yup, indexing is somewhere there. And a "checkmark" in upper right corner must be non-opaque green.

I've seen couple of times same behavior, when plugin could not find config file. It's a rare bug I cannot catch for now. Will look into it. You can reopen project or restart AppCode, that should help.

[2020-10-12 11:56] uxduck commented on #50
Alright thanks. I have a better understanding of how things work now. I've tried to reopen project and restart AppCode, but I still have the same problem. I was curious how to debug a running plugin? I can try to find out why this problem exists, if its possible.

[2020-10-17 11:22] alexfedosov commented on #50
Had exactly the same issue, moving files to another directory in the Project window [cmd+1] helped

[2020-10-17 20:05] bealex commented on #50
@alexfedosov Maybe it is possible to show me your directory structure, when this happened? If I can reproduce it, it should be an easy fix.

[2020-10-20 11:51] MontakOleg commented on #50
@ben-xD you can debug plugin by running them from IntelliJ IDEA.

1. Create plugin debug configuration
<img width="1075" alt="image" src="https://user-images.githubusercontent.com/1800899/96582044-67021d00-12e3-11eb-9f9e-65eaca003010.png">

2. Click "Debug"
<img width="366" alt="image" src="https://user-images.githubusercontent.com/1800899/96582080-76816600-12e3-11eb-8031-5a182398c54e.png">

New A

[2020-12-12 06:35] vegidio opened #51 "Swiftlint plugin is triggering the plugin File Watcher"
I recently installed the SwiftLint plugin in AppCode and I noticed that when I turn on the code inspection `Editor > Inspections > SwiftLint` then the watcher that I created on my File Watcher for `.swift` files is triggered automatically, as if the file is saved after every code inspection which is not the expected behavior

When SwiftLint inspection is off the File Watcher is not triggered.

Thi

[2020-12-14 11:22] bealex commented on #51
Hi, thanks for the issue. Does this occur when you launch command line swiftlint for your project?

Plugin, basically, runs swiftlint on a current file when it is changed, and parses the result. Before running SwiftLint I have to dump caches to the file system, because swiftlint command works with a file itself.

I will see what I can do, but answer will help me to narrow down my options.

[2020-12-14 15:09] vegidio commented on #51
Hi,

This is what I did to test:

1. I disabled the Swiftlint inspection on `Editor > Inspections > SwiftLint` and I also disabled the option `Save files when switching to a different application` (this is enabled by default on Appcode), otherwise Appcode would save the file automatically for me when I switch to the terminal do run `swiftlint` there.

<img width="881" alt="autosave" src="https://u

[2020-12-14 15:13] bealex commented on #51
Thanks a lot for the investigation. Will think what I can do with that.

[2021-04-12 14:21] windaishi opened #52 "Support nested configurations"
Hello,

seems like the plugin currently does not support nested config files.

The docs of swiftlint state that there can be nested config files that will be merged together. See: https://github.com/realm/SwiftLint#nested-configurations

However it seems like the plugin is using the CLI parameter `--config`. This disables the functionality that nested `.swiftlint.yml` files in your directory struc

[2021-04-16 14:21] bealex commented on #52
Should be updated in 1.13. Please check (update should be available after JB review)

[2021-04-16 14:21] #52 closed

[2021-04-16 14:21] bealex commented on #51
Please check after updating to 1.13. Please check (update should be available after JB review)

[2021-04-16 14:21] #51 closed

[2021-04-16 14:22] bealex commented on #50
Please check after updating to 1.13 (update should be available after JB review)

[2021-04-16 14:22] bealex commented on #38
Please check after updating to 1.13 (update should be available after JB review)

[2021-04-16 14:22] #38 closed

[2021-04-20 15:55] windaishi commented on #52
Thank you. It is working with the new .1 release. Great work 👍

[2021-04-20 15:57] bealex commented on #52
Perfect!

[2021-04-20 15:59] windaishi opened #53 "Cannot change severity settings in inspections"
Hey,

it seems like the plugin does ignore the settings for severity in the inspections:

![image](https://user-images.githubusercontent.com/6232639/115427725-01dfa380-a202-11eb-81a1-ff05238970f1.png)

It would be nice if there were 2 options to select the Severity for a SwiftLint Error and Warning.

But still awesome plugin 👍

[2021-04-20 18:56] bealex commented on #53
Hi,

Thanks for the kind words. I'd love to configure severity granularly for each specific SwiftLint inspection, but it is pretty hard task to synchronise them with configuration files. Basically, configuration via .yml files makes this AppCode config almost impossible :-(

But I will continue to think what I can do with that. Maybe someday I will find the answer. :-)

[2021-04-26 16:49] TatyanaShabaeva opened #54 "Can't disable SwiftLint inspection"
AppCode 2020.3.4 (same with 2021.1 RC)
SwiftLint plugin 1.13.1
swiftlint version 0.43.1

- install SwiftLint plugin, make sure that inspection is disabled in Editor | Inspections | Swift | SwiftLint
- open some file in editor that would trigger SwiftLint errors/warnings -> all errors and warnings are highlighted even though inspection is disabled

<img width="1234" alt="img" src="https://user-imag

[2021-04-27 14:38] bealex commented on #54
@TatyanaShabaeva I think I managed to fix that in 1.13.2. Thanks for noticing!

[2021-04-27 16:11] topeerz commented on #50
Hi! This still doesn't seem to work - AppCode 2021.1, SwiftLint 1.13.1. Internal rules seems to work when I check "Disable when no .swiftlint.yml present" no warnings are shown. Command line seems to work.

[2021-04-27 16:43] bealex commented on #50
@topeerz Can you please send relative (to project root) paths of .swiftlint.yml, its contents and relative path of the file you are trying to process?

Thanks!

[2021-04-27 17:58] topeerz commented on #50
My actual project has a bit complicated structure something like:

[code]

I tried putting .swiftlint.uml in folder1, repo1 or main_project.

Since this is a bit complicated and vague I tried this on some older repo I have cloned (with similar result) https://github.com/Clean-Swift/CleanStore

The code->inspect worked, and inspections are shown in-line for items found via code inspect - yet "regul

[2021-04-28 08:39] bealex commented on #50
I've opened CleanStore and checked these cases (version 1.13.2 of the plugin):
0.1. You should check that inspection is turned on. This works in 1.13.2 finally :) (it was always on previously).
0.2. You should wait till all indexing processes are finished, SwiftLint will not start till then.

1. Just default configuration. SwiftLint works with default rules, SwiftLint starts in project directory (

[2021-04-28 09:04] bealex commented on #50
Sent 1.13.3 update that will catch .swiftlint.yml file addings/removals.

[2021-04-28 09:04] #50 closed

[2021-04-30 09:53] TatyanaShabaeva commented on #54
@bealex Works, thanks!

[2021-04-30 09:56] bealex commented on #54
Awesome!

[2021-07-13 11:38] Javarome opened #55 "Can't find swiflint"
I had the plugin working on my project for a while, then it stopped working with that message:
[code]
`/opt/homebrew/bin/swiftlint` is the result of `which swiftlint`. Running `swiftlint` or `/opt/homebrew/bin/swiftlint` on the command line works.

My `.swiflint.yml` is at the root of my project.

Setting `/opt/homebrew/bin` in Tools > Swiftlint > Swiftlint path doesn't work either.

- Plugin vers

[2021-07-18 17:40] bealex commented on #55
@Javarome Please check with new version. Hope I got this.

[2021-07-19 22:04] Javarome commented on #55
Thanks @bealex. Got the 1.13.4 and, well, yes and no: no more errors indeed, swiftlint seems to be found now... but no swiftlint warnings are displayed in the editor (only JetBrains inspections). Again, such warning are properly listed using command line swiftlint in the same directory.

[2021-07-19 22:34] bealex commented on #55
@Javarome Is SwiftLint is turned on in inspections?

[2021-07-19 23:00] Javarome commented on #55
Yes it was disabled then I enabled it again.
<img width="637" alt="Capture d’écran 2021-07-20 à 01 20 20" src="https://user-images.githubusercontent.com/2269113/126239576-c5ab2240-7c22-49bf-9b93-0cbf1dfa646e.png">
But still no warnings.
I tried to relaunch AppCode as well, with no more luck.

[2021-07-21 10:16] Javarome commented on #55
@bealex Actually I can see only _one_ swiftlint warning, about trailing_whitespace.

So obviously it is running, but I wonder if it is find/using the proper `.swiflint.yml`. Mine is located at the root of the project.

[2021-07-21 10:36] bealex commented on #55
Yup, it is something with config locations, seeing same in some projects. Will get to it soon.

[2021-07-21 17:46] bealex commented on #55
Just to be sure I'm looking in the right direction. How many projects do you have opened at the same time?

[2021-07-22 12:14] Javarome commented on #55
Only one.

For what it's worth, the config file is `~/AppCodeProjects/myproject/.swiftlint.yml`.

But of course there are many others in libs caches (like `~/Library/Caches/JetBrains/AppCode2021.1/DerivatedData/MyProject/-xxxx/SourcePackages/checkouts/SomeLib/.swiftlint.yml`) and externs (like `Extern/Sparkle/.swiftlint.yml` for instance)

[2021-07-22 17:51] bealex commented on #55
Can you please try this version? This way it will be faster then go through JB approval process. https://www.dropbox.com/s/ulwpmf2ew9fbxff/SwiftLint.zip?dl=0

[2021-07-22 21:20] Javarome commented on #55
Installed this 1.13.5 zip from disk but nothing better, sorry.

[2021-07-22 21:39] bealex commented on #55
Thanks! OK, thinking...

[2021-07-23 12:20] Javarome commented on #55
Maybe some additional configuration file path in the plugin settings could help? If left blank, default config files lookup would apply, otherwise it would be passed as `swiflint --config` arguments.

[2021-07-23 12:41] bealex commented on #55
Right now I'm not passing `--config` parameter, it breaks some scenarios. Basically what I'm doing is:
 - getting source root directory (for example project root)
 - getting file that we are linting now and directory that it is contained in
Somewhere in between these directories there can be SwiftLint configuration file (it must be called `.swiftlint.yml`, I can't deal with other config file names

[2021-07-23 21:23] Javarome commented on #55
Okay here is an excerpt from my project structure:
- `~/project/myproject` Running `swiftlint` from here outputs 6 violations, 0 serious in 460 files
  - `.swiftlint.yml`
  - `Myproject/` Running `swiftlint` from here outputs 1861 violations, 650 serious in 412 files
    - `.idea/`
    - `Classes/` Running `swiftlint` from here outputs 1651 violations, 493 serious in 401 files
      - `Components/

[2021-08-03 08:59] Javarome commented on #55
Hi @bealex ,

Just to let you know: I stumbled on a file that does display more Swiflint warnings in the IDE. Those are 4 warnings:
<img width="1137" alt="swiftlint ide warnings" src="https://user-images.githubusercontent.com/2269113/127988377-08f1f97e-41c9-4906-9ef7-c9280140e70c.png">

However, running swiftlint cli on the same files yields **9 results**: the 4 control_statement warnings + 4 line

[2021-08-03 10:00] bealex commented on #55
Thanks a lot!

I'm slacking, have to keep up with my day job :)

Should return to the investigation in couple of days.

[2021-09-24 16:05] vladimir-bebeshko opened #56 "AlreadyDisposedException"
Thank you for a useful plugin!

Just caught an exception:
<img width="827" alt="Screenshot 2021-09-24 at 18 59 17" src="https://user-images.githubusercontent.com/4004117/134705551-593de4af-71de-468d-ac93-13fa255c3627.png">

Probably, in  [SwiftLintHighlightingAnnotator.kt:74](https://github.com/bealex/SwiftLintAppCode/blob/eb12fca3d7728f5d3ff72d0750a19328b0bf5175/src/com/lonelybytes/swiftlint/anno

[2021-11-09 21:12] AleMaMi opened #57 "Swiftlint inspections stop working if loaded gradle project"
If gradle build configuration is loaded by AppCode to regular Xcode project, Swiftlint plugin inspections stop working.

Steps to reproduce:

0. Prerequisites: Swiftlint plugin installed in AppCode
1. Open attached project (very simple command line project) in AppCode
2. Do not load gradle project (AppCode shows popup about it)
3. Switch on Swiftlint inspections
- There are 2 Issues in `main.swift

[2022-02-03 23:25] Yurlagin opened #58 "Swiftlint's warnings are visible but autocorrect command does nothing"
<img width="254" alt="Screenshot 2022-02-04 at 06 24 27" src="https://user-images.githubusercontent.com/24584890/152446017-d6078bfb-63b5-4234-9fdc-e7de0622500e.png">

i.e. line_length parameter is set to 140. Should I expect autocorrect command to insert line break?

[2022-02-04 07:17] bealex commented on #58
Thanks for the report!

Not all warnings have auto-fixes. line_length does not https://realm.github.io/SwiftLint/line_length.html

You can find if specific warning has an auto-fix in the rule documentation: https://realm.github.io/SwiftLint/rule-directory.html

[2022-02-04 21:13] markeissler commented on #55
Any updates for this issue? I'm trying to use 0.13.4 with AppCode 2021.3.2, `swiftlint` is 0.45. I have a `.swiftlint.yml` file at the root of my SPM project. Running swiftlint from the command line works.

If I run `Inspect code...` swiftlint doesn't appear to run at all. The only output in the Problems view are from the existing AppCode Swift inspection rules. I also don't get any swiftlint outp

[2022-02-04 21:50] markeissler commented on #55
I have since updated the plugin to 0.13.5 (the version posted in this thread). I also updated `swiftlint` to `0.46.1`.

Then, I created a new inspections profile that disables everything except Swiftlint. I ran `Inspect code...` on a file. From the terminal I ran...

[code]

This revealed a single `swiftlint` process had started. If I run `switftlint` from the terminal, and point it at my config f

[2022-02-05 00:09] markeissler commented on #55
Something that just occurred to me, if the plugin ends up calling `swiftlint` like this:

[code]

Then this plugin could never work for linting while typing since changes haven't necessarily been saved to disk yet. What needs to happen is that the content of the editor is piped into stdin of the `swiftlint` command which would have the `--use-stdin` flag set.

Another thing I noticed is that while

[2022-02-05 08:51] bealex commented on #55
@markeissler Hi. Thanks for the investigation and for the response and for the code. Appreciate it a lot.

Looking into hanging now. This is something I did not consider for some strange reason.

There are fundamental problems with stdin option though.
 - It does not account for file filters that swiftlint is configured with (included/excluded).
 - It does not anything about configuration files hi

[2022-02-05 10:27] bealex commented on #55
@markeissler Can you please try to install this new version from the disk? Maybe I've found what was causing this behavior (still can't reproduce it), a test will be helpful.

https://github.com/bealex/SwiftLintAppCode/blob/bugfix/swiftlint-hanging/deployed/SwiftLint.zip

[2022-02-06 19:25] markeissler commented on #55
All of your points are valid. I'm just trying to find some sort of workaround.

I just tried your latest build from the post above. Same result. `swiftlint` is launched soon after opening a file. But it never exits. As soon as I kill it, results appear in the editor window.

It must be reading the file contents since it does display linting errors in the editor. But with that said, it doesn't appe

[2022-02-06 19:26] markeissler commented on #55
I guess I could try and learn enough kotlin to try and debug this.

[2022-02-06 20:08] markeissler commented on #55
FWIW I can't seem to get `0.13.4` working even with stdin. I have to use either of the builds posted in this thread so far.

[2022-02-06 20:25] bealex commented on #55
@markeissler Thanks for the test. Looks like swiftlint does not close the streams (either output or error) for some strange reason. Or output there is non-consistent.

Is it possible to get that file? Maybe it is a part of some open source project? I'd like to reproduce this a lot.

After your test I think I know what happens. Let me try to implement a fast hack to find out am I right.

[2022-02-06 20:35] markeissler commented on #55
Unfortunately, it's closed source, proprietary.

[2022-02-06 20:44] bealex commented on #55
@markeissler I've updated the plugin here: https://github.com/bealex/SwiftLintAppCode/blob/bugfix/swiftlint-hanging/deployed/SwiftLint.zip can you please test it once again?

[2022-02-07 03:08] markeissler commented on #55
I think with this one you set a timeout of 1 second, is this correct? On smaller files it appears to work but on larger files (I'm looking at a file that is over 2800 lines) I think it might be exiting too early.

[2022-02-07 06:03] bealex commented on #55
Yes it is. It's just a test.

Thanks! Now when I know what happens, it'll be easy to fix. :-)

[2022-02-07 08:43] bealex commented on #55
@markeissler I've updated the plugin, sent the version to the Marketplace. Will be available after JB review. You can try it directly from the repository if needed: https://github.com/bealex/SwiftLintAppCode/raw/main/deployed/SwiftLint.zip

@Javarome can you please test it too? It is possible that you've encountered same error and new build will fix that.

[2022-02-07 08:43] #58 closed

[2022-02-07 08:45] bealex commented on #57
@AleMaMi Can you please check upcoming version 1.13.5? There are some stability fixes that should help in your case too.

Please reopen the issue if it reproduces.

[2022-02-07 08:46] bealex commented on #56
@vladimir-bebeshko Can you please test upcoming version 1.13.5? I've updated the code and it should go away. If the issue still reproduces, reopen it please. Thanks!

[2022-02-07 08:46] #56 closed

[2022-02-07 10:07] Javarome commented on #55
Thanks @markeissler and @bealex for investigating again on that issue! Unfortunately I installed the zip plugin from disk but can't see any swiftlint warnings in my IDE sources (whereas some are raised when using the command line), even after AppCode restart.

For the record: Swiflint 0.46.2 in /opt/homebrew/bin/swiftlint, Swiftlint plugin 1.13.5 (configured with same swiftlint path), swiftlint in

[2022-02-07 11:06] bealex commented on #55
@Javarome Heh. OK, will need to test more then.

[2022-02-07 16:07] markeissler commented on #55
@Javarome Try creating a new `Inspection Profile` that only enables `SwiftLint`. This is just to isolate this particular inspection from the others and to reduce the amount of analysis that is performed by AppCode.

Then, perhaps test this on a smaller file. Wait for analysis to perform and end. You can see this in the top-right of the editor. It will say something like `Analyzing...` and if you h

[2022-02-07 16:41] bealex commented on #55
@markeissler I'll add development section to readme. Project is quite old, maybe its time to update it as well :)

[2022-02-07 19:27] bealex commented on #55
@markeissler I've added a small dev-related section to the readme. You can try. Wanted to port it to Gradle plugin, but unfortunately it does not support AppCode plugins. So DevKit it is. For now :-)

[2022-02-07 19:29] markeissler commented on #55
Excellent! I'll try to take a look later today.

How ironic: I thought they were trying to get away from DevKit.

[2022-02-07 20:03] AleMaMi commented on #57
It is still reproducible with macOS 12.2, Xcode 13.2.1, AppCode 2021.3.2, plugin 1.13.5, Swiftlint 0.46.2, gradle 7.3.3.
I cannot re-open this issue, perhaps I have no permissions (or I do not know how).

[2022-02-07 20:39] bealex commented on #57
@AleMaMi OK. Problem (or not) is that Gradle project requires you to set directory types manually. If you set `SwiftlintAndGradle` directory as `Project Sources and Headers`, SwiftLint plugin will work there. It does not work on non-source files. Don't know if it is bad or not, but for now it is like this.

And please remember to turn on inspection itself.

[2022-02-07 20:39] #57 closed

[2022-02-07 20:42] bealex commented on #55
@Javarome One more question. Are your swift sources in "Project Sources and Headers" directory? You can see all project sources in Project tool window (View → Tool Windows → Project), and by selecting in its header "Project Source Files".

[2022-02-07 21:11] AleMaMi commented on #57
It makes sense, I will see how it works for bigger project than for the test example. Thanks a lot!

[2022-02-07 21:57] Javarome commented on #55
Yes @bealex they are: Project Source Files lists 2 root directories :
- my /Library/Caches/JetBrains/AppCode2021.3/DerivedData/etc... /CoreDataGenerated (not sure this is correct)
- my project root directory (and sub-directories with swift files)

[2022-02-07 21:59] bealex commented on #55
Ok. Back to thinking.

[2022-02-07 22:04] Javarome commented on #55
@markeissler I did set an inspection profile with only `Swiftlint (available for Code|Inspect Code)`. Then inspection goes green (whereas cli swiflint still has warnings).

[2022-02-08 19:44] markeissler commented on #55
@bealex I've opened up a PR branched off of `main` that makes a small change to reading of the inputStream returned by `swiftlint`.

https://github.com/bealex/SwiftLintAppCode/pull/59

This appears to work on my system in testing. I'll get more real use in today.

@Javarome You might want to test the build artifact in that PR (under the `deployed` directory). After install it will have a different

[2022-02-10 12:54] MontakOleg opened #60 "Completion suggested in wrong places"
Hello!

<img width="546" alt="изображение" src="https://user-images.githubusercontent.com/1800899/153411912-4fdf4eee-a250-401d-8e3d-14c14a0a0609.png">

If I understand intent correctly (restrict completion on /// comments), this change is not correct:

https://github.com/bealex/SwiftLintAppCode/commit/2dc2259d3d25a062db61d4dd13f39d851ac2a5d6#diff-ca6c0092682e7239f9a53dad84c7e48c5fc3c77de30421dc589

[2022-02-10 15:11] bealex commented on #60
Hmm. You're absolutely right! And I'm dumb, as usual :)

[2022-02-11 16:07] bealex commented on #60
Should be fixed in 1.13.6

[2022-02-11 16:07] #60 closed

[2022-02-11 16:08] bealex commented on #55
@Javarome I've found a strange thing, when SwiftLint was not called completely if the file has other errors. Please try 1.13.6 (is being approved by JB now), maybe this is your case?

[2022-02-11 18:20] markeissler opened #61 "SwiftLint triggers FileWatch plugin"
This is an issue that has occurred previously:

[Issue #51: Swiftlint plugin is triggering the plugin File Watcher](https://github.com/bealex/SwiftLintAppCode/issues/51)

It's not clear what the resolution was before or if the issue was, in fact, resolved since the issue reporter did not respond for further comments.

In particular, I have a watcher setup to trigger `swiftformat` on a file save. W

[2022-02-11 19:06] bealex commented on #61
Well, this is a tough one. We need to save a file so that SwiftLint is able to process it (as I've said already, I do not know how to successfully use stdin instead of a file). So yes, SwiftLint saves file before checking it (src/com/lonelybytes/swiftlint/annotator/SwiftLintHighlightingAnnotator.kt:82). And yes, it does not work without it.

Don't have a solution for this for now :(

PS. If you ne

[2022-02-11 19:37] markeissler commented on #61
No problem. I'll see if I can dig into this a little more.

[2022-02-11 19:39] bealex commented on #61
Possibly I just tried to experiment with stdin solution and thought that everything will be cool. :-)

[2022-04-09 12:40] AkisArou opened #62 "Excluded files with a wildcard does not work"
e.g. - Source/*/ExcludedFile.swift
When running swiftlint in command line it works as expected, but AppCode does not respect it.

[2022-04-09 13:32] bealex commented on #62
Thanks for the report! Can you describe your configuration/project structure, that is related to it? Thanks!

[2022-04-09 14:05] AkisArou commented on #62
Sure!
The expected excluded files are expressed as: __Packages/*/Package.swift__
[code]

[2022-04-09 14:59] bealex commented on #62
Thanks! Can you tell where the .swiftlint.yml is placed?

[2022-04-09 15:00] AkisArou commented on #62
It is in the root folder of the project

[2022-04-09 15:15] bealex commented on #62
Thanks! Will look into it.

[2022-04-09 15:15] AkisArou commented on #62
Thank you!

[2022-04-09 19:59] bealex commented on #62
Looks like it is a bug in SwiftLint. Here's the link I found: https://github.com/realm/SwiftLint/pull/3534. My plugin lints files one-by-one and in this case SwiftLint does not process excluded directories correctly.

[2022-04-09 19:59] #62 closed

[2022-05-17 02:32] mleonhard opened #63 "Plugin description to link to install instructions"
I installed the plugin and it did nothing.  I was confused and wasted some time trying to get it to work.  I restarted AppCode.  I looked up lint rules and added errors to a `.swift` file in my project.  When none of that worked, I went to the website.

To save others from wasting time and feeling confused, how about adding a line to the plugin description <https://plugins.jetbrains.com/plugin/917

[2022-05-17 02:42] mleonhard opened #64 "Clarify SwiftLint binary path setting label"
The plugin's settings page has a box labeled "SwiftLint path".  Let's clarify this to "SwiftLint binary path" or "swiftlint path".

[2022-05-17 02:59] mleonhard opened #65 "Clarify install instructions"
Let's update the installation instructions to help new users.

Current:
https://github.com/bealex/SwiftLintAppCode/blob/cfe1aa1927b4c2ccfc2db2360b9806d2b51b895c/README.md?plain=1#L7-L24

New:
## Install
1. Install the `swiftlint` binary from <https://github.com/realm/SwiftLint>
1. Set the `swiftlint` binary path
   - Open AppCode Preferences and go to Tools > SwiftLint.
   - Update the "SwiftLint

[2022-05-17 03:02] mleonhard opened #66 "Plugin to work without manual install"
I just installed the Swift Lint plugin in AppCode.  I wasted about 20 minutes trying to figure out how to make it work, finding the install instructions, and then following them.  How about making the plugin work right away for new users?

1. Include the `swiftlint` binary in the plugin.  I want to use AppCode's plugin manager to keep the binary updated.
2. Automatically enable the inspection.

[2022-05-17 04:32] mleonhard opened #67 "Clarify autocorrect setting"
The settings page has a checkbox labeled `Enable "Autocorrect" quick-fix`.  That sounded risky to me, so I didn't enable it.  Later, I learned that it adds the `Run swiftlint autocorrect` option to the lint error popups.  That is not risky.

Let's clarify the option to help other users understand what it does.

Suggested label: Show "Run swiftlint autocorrect" option on lint error popup.

[2022-05-22 17:47] #63 closed

[2022-05-22 17:47] #64 closed

[2022-05-22 17:47] #65 closed

[2022-05-22 17:47] #67 closed

[2022-07-19 19:50] RStanbouly opened #69 "Unable to run Swiftlint due to missing Swiftlint.yml"
Been running into this issue with the Swiftlint plugin for a bit. Currently running a project using a PBXProj using this file structure

/AppFolder
     .swiftlint.yml
     /project_gen
           .swiftlint.yml
           .pbxproj
     /Modules
          ___ALL MY CODE___
          .swiftlint.yml

Despite this, Swiftlint still does not trigger for my project. I know that I have properly configure

[2022-07-19 20:05] bealex commented on #69
Hi, thanks for the report. Is it possible to show all the .swiftlint.yml files?

[2022-07-21 00:21] RStanbouly commented on #69
Apologies, I'm unsure as to what you're referring to? Like, where they're located in the project folder structure?

[2022-07-21 08:16] bealex commented on #69
No, contents of the `.swiftlint.yml` files themselves. I see three of them, and would like to reproduce the situation.

[2022-07-21 22:08] RStanbouly commented on #69
Ahh

[code]

[2022-08-06 20:56] bealex commented on #69
@RStanbouly Sorry for long wait. I see you are specifying swiftlint_version there. Is is same as the CLI utility version?

[2022-08-08 18:31] RStanbouly commented on #69
Correct @bealex

[2022-08-08 18:38] bealex commented on #69
Ok, thanks. Still trying to reproduce.

[2022-08-17 20:47] RStanbouly commented on #69
Is there a way for me to debug this @bealex ?

[2022-10-18 11:39] gabatx opened #70 "I can't get "Run swiftlist autocorrect" (⌥⏎) in AppCode to work."
Hi, I'm trying to get the option to work that pops up when I press ⌥⏎ in AppCode where it says "Run swiftlist autocorrect" but I can't get it to work. I have to say that it works perfectly the autocorrect works when I enter the command "swiftlint -fix filename.swift" in the terminal. Any solution?. Thanks.

[2022-10-18 11:54] bealex commented on #70
Hi, can you provide some code and which problem you want to fix with the autocorrect?

[2022-10-20 12:47] AlesMMichalek commented on #70
Same for me. It is perhaps related to swiftlint version 0.49.0 (and later), because command for autocorrect was removed:
[code]
 (https://github.com/realm/SwiftLint/releases/tag/0.49.0)

[2022-10-20 12:49] bealex commented on #70
@AlesMMichalek Thanks!

Why can't they stay with the interface... Now I need to prepare an update.

[2022-11-17 12:04] icedice commented on #70
Did you make the update?

[2022-11-17 12:08] icedice commented on #70
btw. reverting to 0.48 did fix it for me...

[2022-11-21 08:14] icedice commented on #61
Any development on this? I'm using Injection to hot refresh my UI when developing and because of the constant persisting of the files the hot reload goes crazy....

[2022-11-21 08:23] AlexBabaevRMR commented on #61
Unfortunately no, sorry. Right now I need to find out how to use new plugin framework for IJ IDEs. I will update the plugin itself right after.

[2022-11-21 08:32] bealex commented on #61
Unfortunately no, sorry. Right now I need to find out how to use new plugin framework for IJ IDEs. I will update the plugin itself right after.